/* app css stylesheet */
html {
  font-family: "Recursive Sans", sans-serif;
  font-style: normal;
  font-size: 62%;
}

.wrapper {
  margin: 20rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.subscribe {
  font-size: 4.8em;
  padding: 0 3rem 0 3rem;
  width: 30%;
  min-width: 300px;
}

.subscribe p span {
  color: #66C39A;
}

.formWrapper {
  width: 30%;
  min-width: 300px;
}

form label {
  padding: 2rem 3rem 2rem 0;
  display: inline-block;
  font-family: "Recursive Sans", sans-serif;
  color: rgba(0, 0, 0, 0.4)
}

input[type=radio] {
  margin-right: 0.4rem;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
  color: #66C39A;
}

input[type=radio]:checked + *::before{
  border-color: #66C39A;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

input[type=checkbox]{
  margin-right: 2rem;
}

input[type=submit]{
  background: #66C39A;
  color: #FFFFFF;
  border: none;
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.2em;
}

.error{
  font-size: 1em;
  color: red;
}

@media (max-width: 600px){
  .subscribe {
    font-size: 3em;
  }
}
